body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#buscador {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.producto {
  padding: 15px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.producto:hover {
  background-color: #f9f9f9;
}
